form {
    width: 26em;
    margin: 2em auto;
    background-color: #dfffd6;
    padding: 1.5em;
    border: 0.15em solid green;
}

h2 {
    background-color: green;
    color: white;
    text-align: center;
    padding: 0.5em;
}

label {
    display: block;
    margin-top: 0.75em;
}

button {
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: green;
    color: white;
}