table {
    margin: 2em;
    border: 0.15em solid teal;
}

caption {
    background-color: teal;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0.5em;
}

th, td {
    border: 0.1em solid gray;
    padding: 0.5em;
    text-align: center;
}

th {
    background-color: lightgray;
}