h1 {
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 0.75em;
}

table {
    margin: 2em auto;
    border: 0.15em solid black;
}

th, td {
    border: 0.1em solid gray;
    padding: 0.5em;
    text-align: center;
}

img {
    width: 10em;
    border-radius: 1em;
}